<!DOCTYPE html>
<html>
	{% load static %}
	<title>Website ku </title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
			<style>
				/* Style the top navigation bar */
				
				body,html{
					height: 100%;
					margin: 0;
					font-family: Arial, Helvetica, sans-serif;
				}
					

					.bg-image {
					  /* Full height */
						height: 100%;
						background-position: center;
						background-repeat: no-repeat;
						background-size: cover;
					}

					/* Images used */
					.img1 { background-image: url("/static/Galaxy_Green.jpg"); }
				
					

					/* Position text in the middle of the page/image */
					.bg-text {
					  color: white;
					  font-weight: bold;
					  font-size: 80px;
					  position: absolute; /* Stay fixed */
					  top: 30%;
					  left: 50%;
					  transform: translate(-50%, -50%);
					  z-index: 2;
					  width: 300px;
					  padding: 20px;
					  text-align: center;
					}

					.bg-text2 {
					  color: white;
					  font-weight: bold;
					  font-size: 80px;
					  position: absolute; /* Stay fixed */
					  top: 50%;
					  left: 50%;
					  transform: translate(-50%, -50%);
					  z-index: 2;
					  width: 300px;
					  padding: 20px;
					  text-align: center;
					}

					.bg-text3 {
					  color: white;
					  font-weight: bold;
					  font-size: 80px;
					  position: absolute; /* Stay fixed */
					  top: 70%;
					  left: 50%;
					  transform: translate(-50%, -50%);
					  z-index: 2;
					  width: 300px;
					  padding: 20px;
					  text-align: center;
					}			
					.fotobulat {
  					vertical-align: left;
  					width: 100px;
 					height: 100px;
  					border-radius: 50%;	
					position : relative;
					left : 1100px;
					top : 30px;
					}	
			</style>
			
	<head>
		{% include 'base.html' %}
	</head>
	<body>
		<div class="bg-image img1">
			<img src = "{% static 'fotoku.jpg' %}" class = "fotobulat" >
			<div class="bg-text">Hi.</div> 
			<div class="bg-text2">Ola.</div> 
			<div class="bg-text3">Bonjour.</div>
		</div>
	</body>
	</html> 
