<html>
  {% load static %}
	<head>
    <script src="https://kit.fontawesome.com/a48052e337.js" crossorigin="anonymous"></script>
		<style> 
		  body, html {
			  height: 100%;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
			}
			.bg-image {
			  height: 100%;
			  background-position: center;
			  background-repeat: no-repeat;
			  background-size: cover;
			}

      .img1 { background-image: url("/static/Galaxy_Green.jpg"); }
		  
      .bg-text {
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
        color: white;
        font-weight: bold;
        border: 3px solid #f1f1f1;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 80%;
        padding: 20px;
        text-align: center;
      }

    .container{

        width: 50%;
        height: 500 px;

        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: flex-start;
        align-content: space-between;

    }
    i{
    font-size: 40px;
    color : white
    }
    </style>
	
  </head>

	<body> 
		
    {% include 'base.html' %}
    <div class="bg-image img1"></div>
    <div class="bg-text">
      <h2 style="color: #b3ffd5;  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Biodata Singkat</h2>
      <table width="75%" style = " color: #f1f1f1; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
      <tr>
        <th><b>Nama</b></th>
        <th>Ian Andersen Ng</th>
        <th>
          <a href="https://www.instagram.com/ian.andersen.ng/"><i class="fab fa-instagram"></i></a>
        </th>
        <th>
          <a href="https://wa.me/62816833280"><i class="fab fa-whatsapp"></i></a>
        </th>
      </tr>
      <tr>
        <th><b>NPM</b></th>
        <th>1906400280</th>
      </tr>
      <tr>
        <th><b>Angkatan</b></th>
        <th><a href="https://maung.id/"><b>MAUNG</b></a>(2019)</th>
      </tr>
      <tr>
        <th><b>Tempat Kuliah</b></th>
        <th>Fakultas Ilmu Komputer Universitas Indonesia</th>
      </tr>
      <tr>
        <th><b>Hobi</b></th>
        <th>Bermain video games dan Baca Buku </th>
      </tr>
    </table>
    <h2 style="color: #b3ffd5; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Deskripsi Tentang Saya</h2>
    <h4 style="color: #FFFFFF; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
     Saya lahir pada tanggal 20 Agustus 2001 di Jakarta. Saya lahir di rumah sakit Hermina Jakarta Utara. Saya merupakan anak pertama dari dua bersaudara . Adik saya berbeda 4 tahun lebih muda dari saya. Saya tidak pernah belajar programming sebelum masuk Fasilkom. Saya senang dan bangga saya masuk Fasilkom.
    </h4 >
    <h2 style="color: b3ffd5; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; ">Riwayat Pendidikan</h2>
    <table width="75%"  style = " color: #f1f1f1; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
      <tr>
        <th>2019-sekarang</th>
        <th>Universitas Indonesia</th>
      </tr>
      <tr>
        <th>2016-2019</th>
        <th>SMA Santa Theresia</th>
      </tr>
      <tr>
        <th>2013-2016</th>
        <th>Universal School</th>
      </tr>
      <tr>
        <th>2007-2013</th>
        <th>Universal School</th>
        
      </tr>
    </table>
   
    </div>
    
  </body>

</html>