{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Jadwal</title>
</head>
<body class="bg-dark">
    <div class="container mt-4 text-white">
        <h1>Susun Jadwal</h1>
    </div>
    <div class="container text-white">
        <div class="row mt-4">
            <div class="col">
                <form action="" id ="form" method="POST">
                    {% csrf_token %}
                    {{ formulir }}
                    <input type = "submit" class="btn btn-primary my-5" value="Masukkan"> 
                    <div class="btn my-5">
                        <a href="/">
                            Home
                        </a>
                    </div>
                </form>
               
            </div>
            
            <div class="col">
                <div class="table-responsive" id="Table">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Mata Kuliah</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        {% for i in jadwal %}
                        <tbody>
                            <tr>
                                <td>{{i.mata_kuliah}}</td>
                                <td><a href="{% url 'jadwal:hapus' pk=i.pk %}"><button class="btn btn-icon btn-danger"><i class="fa fa-trash">Delete</i></button></a></td>
                                <td><a href="{% url 'jadwal:detail' pk=i.pk %}"> <button class="btn btn-info">Detail</button></a></td>
                                <td>
                                </td> 
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        
        </div>
    </div>
   
</body>
</html>