{% load static %}
<!DOCTYPE html>
<html lang="en">
  <nav class="navbar navbar-expand-lg navbar-dark bg-transparent pt-4 ">

    <!-- Navbar brand --> 
    <img src="{% static 'logo.jpg' %}" class="logo" width="40px" height="40px py-0 my-0">
    
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
            aria-expanded="false" aria-label="Toggle navigation py-0 my-0">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav py-0 my-0 ml-auto">
            <li class="nav-item active py-0">
                <a class="nav-link" href="{% url 'homepage:index' %}">Home
                    
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:favorit' %}">Favorites</a>
            </li><li class="nav-item">
                <a class="nav-link" href="{% url 'Story1_app:index' %}">Story1</a>
            </li>
          </li><li class="nav-item vertical-line">
            <a class="nav-link" href="{% url 'Story1_app:about' %}">Story1 About</a>
          </li><li class="nav-item vertical-line">
            <a class="nav-link" href="{% url 'jadwal:jadwal_url' %}">Susun Jadwal</a>
          </li>
            

        </ul>
        <!-- Links -->                
    </div>
    <!-- Collapsible content -->
  </nav>
</html>
