{% load static %}
<html>
   
    <title>Story3 Favorite</title>
    <head>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% include 'base.html' %}
    </head>

    <!--Favorite Food-->
    <body style="background-color: #0e0e0e;">
        <div class="container" >
            <div class="row">
                <div class="title_purple mx-auto mb-5 ">
                   <h1>Favorite Food</h1>
                </div>
            </div>
            <div class="row">
                <div class="col mb-4 mb-md-0 text-center">
                    <img src = "{% static 'baksohp.jpg' %}" width="375px"; height="250px";>
                </div>
                <div class="col-sm-12 col-md-6 mx-3">
                    <div class="title_green mb-5 ">
                        <h2>Bakso</h2>
                    </div>
                    <h5 class="text-white text-justify">
                        Bakso or baso is an Indonesian meatball, or a meat paste made from beef surimi. 
                        Its texture is similar to the Chinese beef ball, fish ball, or pork ball. 
                        The word bakso may refer to a single meatball or the complete dish of meatball soup. 
                    </h5 >
                </div>
            </div>
            <div class="row my-5">
                <div class="col mb-4 mb-md-0 text-center">
                    <img src = "{% static 'martabakhp.jpg' %}" width="375px"; height="250px";>
                </div>
                <div class="col-sm-12 col-md-6 mx-3">
                    <div class="title_purple mb-5">
                        <h2>Martabak Telur</h2>
                    </div>
                    <h5 class="text-white text-justify">
                        Martabak is often described as spicy folded omelette pancake with bits of vegetables.
                        It is the most common form of Martabak; 
                        which is egg-filled pancake, 
                        sometimes mixed with green onion and minced meat, 
                        made from pan fried crepes which is folded and cut to squares. 
                        In Indonesia, the martabak is one of the most popular street foods and is known as Murtabak in other countries. 
                        
                    </h5>
                </div>
                
            </div>
        </div>

        <!--Contacts-->
        <div class="container-fluid mt-5" style = "background-color:2F2F2F ;">
            <div class = "row align-items-center pb-5">
                <div class="col text-white ml-4 mt-4 ">
                    Find me on:
                    <a href="https://www.instagram.com/ian.andersen.ng/"><img src="{% static 'insta.png' %}" width="30px" height="30px" style="color:#A3FB84">
                    <a href="https://wa.me/62816833280"><img src="{% static 'wa.png' %}" width="30px" height="30px" style="color:#6C69F9">
                </div>
                <div class="col text-white text-right mt-4">
                    Ian Andersen Ng
                    <img src="{% static 'logo.jpg' %}" width="30px" height="30px">
                </div>

            </div>
        </div>

    </body>
</html>