{% load static %}
<html>
    <title>Story3</title>
    <head>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body style="background-color: #0e0e0e;">
       
        <div class="jumbotron pt-0" id="homeku">
            {% include 'base.html' %}
            <div class = "container">
               <div class = "row h-100 align-items-center ">
                   <div class="col-lg-4 mx-auto">
                       <h1 class = "text-white text-center font-weight-bold">HI.</h1>
                       <h1 class = "text-white text-center font-weight-bold">HOLA.</h1>
                       <h1 class = "text-white text-center font-weight-bold">BONJOUR.</h1>
                   </div>
                </div>
           </div>
        </div>
        
        
        <!--About Me-->
        <div class="container" id="About_Me">
            <div class="row">
                <div class="title_green mx-auto mt-4 mb-5 ">
                    <h1>ABOUT ME</h1>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col ml-4 ml-md-0 mb-4 mb-md-0">
                    <img src = "{% static 'fotobw.jpg' %}" width="380px"; height="450px";>
                </div>
                <div class="col-sm-12 col-md-6 mx-3">
                    <h5 class="text-white text-justify">
                        My name is Ian Andersen Ng. 
                        I’m a tech enthusiast and I’m currently studying at Universitas Indonesia. 
                        My major is computer science. I have various hobbies such as gaming, coding, reading. 
                        I’ve studied different kinds of coding languages such as java and python. 
                        I’m able to make simple websites using html and css.
                    </h5 >
                    <br>
                    <h5 class="text-white text-justify">
                        My favorite kinds of book are autobiographies, psychology and self improvement books. 
                        My favorite foods are indonesian such as Siomay Bandung, Kwetiau goreng  and Bakso.  
                        I love the color green. I enjoy meeting new people with different kinds of opinions. 
                        I’m glad that i am able to make this website. Have fun exploring !!
                    </h5>
                </div>
            </div>
        </div>
        
        <!--Hobbies-->
        <div class="container" >
            <div class="row"id="Hobbies">
                <div class="title_purple mx-auto pt-5 mt-5 mb-5 ">
                   <h1>HOBBIES</h1>
                </div>
            </div>
            <div class="row">
                <div class="col mb-4 mb-md-0 text-center">
                    <img src = "{% static 'bukuhp.jpg' %}" width="350px"; height="250px";>
                </div>
                <div class="col-sm-12 col-md-6 mx-3">
                    <div class="title_green mb-5 ">
                        <h2>Reading</h2>
                    </div>
                    <h5 class="text-white text-justify">
                        I’ve read numerous amounts of books. 
                        I have been reading since fourth grade. 
                        During my childhood , I like to read graphic novels 
                        such Geronimo Stilton , Percy Jackson and Harry Potter . 
                        As I grow up I start to transition to non fiction. 
                        My favorite autobiography so far is written by Phil Jackson called Shoe Dog.
                        I’m currently reading Blink by Malcolm Gladwell.
                    </h5 >
                </div>  
            </div>
            <div class="row my-5">
                <div class="col mb-4 mb-md-0 text-center">
                    <img src = "{% static 'controllerhp.jpg' %}" width="350px"; height="250px";>
                </div>
                <div class="col-sm-12 col-md-6 mx-3">
                    <div class="title_purple mb-5">
                        <h2>Gaming</h2>
                    </div>
                    <h5 class="text-white text-justify">
                        
                            I’ve been playing console games since I was 10 years old. 
                            As a child I played lots of Naruto and Spongebob games on the Playstation2. 
                            Currently I’m playing lots of different 
                            games such as Apex Legends, God of War and Monster Hunter.
                        
                    </h5>
                </div>
                
            </div>
        </div>

        <!--Education-->
        <div class="container" id="Education">
            <div class="row">
                <div class="title_green mx-auto my-5 ">
                   <h1>EDUCATION</h1>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <img src = "{% static 'logo_uihp.png' %}" width="100px"; height="100px">
                </div>
                <div class="col text-white mt-4">
                    <h4>Currently Studying Computer Science in Universitas Indonesia</h4> 
                </div>
            </div>
            <div class="row">
                <div class="col text-center mt-5 ">
                    <img src = "{% static 'serviam-logo.png' %}" width="100px"; height="100px">
                </div>
                <div class="col text-white mt-5 pt-4">
                    <h4>SMA SANTA THERESIA 2016-2019</h4>
                </div>
            </div>
            <div class="row">
                <div class="col text-center mt-5">
                    <img src = "{% static 'universal.png' %}" width="100px"; height="100px">
                </div>
                <div class="col text-white mt-5 pt-4">
                    <h4>Universal School 2013-2016</h4>
                </div>
            </div>
        </div>

        <!--Contacts-->
        <div class="container-fluid mt-5" style = "background-color:2F2F2F ;" id="Contact">
            <div class = "row align-items-center pb-5">
                <div class="col text-white ml-4 mt-4 ">
                    Find me on:
                    <a href="https://www.instagram.com/ian.andersen.ng/"><img src="{% static 'insta.png' %}" width="30px" height="30px" style="color:#A3FB84">
                    <a href="https://wa.me/62816833280"><img src="{% static 'wa.png' %}" width="30px" height="30px" style="color:#6C69F9">
                </div>
                <div class="col text-white text-right mt-4">
                    Ian Andersen Ng
                    <img src="{% static 'logo.jpg' %}" width="30px" height="30px">
                </div>

            </div>
        </div>

    </body>
</html>