body{
    background-color: #0e0e0e;
}
.jumbotron{
    background-image: url('/static/Hahaha.jpg');
    height: 100%;
    background-size: cover;
    border-radius: 0 !important;
}
.title_green{
    font-style: normal;
    color:#A3FB84;
}
.title_purple{
    font-style: normal;
    color:#6C69F9;
    
}
.navbar{
    min-height:1px;
}